<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AAN Hospital</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" >Home</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->
    </ul>
  </div>
</nav>

<div class="container">
  <form (ngSubmit) = "onSubmit()">
  <div class="card border border-4 shadow p-3 mb-5 bg-body rounded">
    <div class="card-body">
      
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="patient.name" placeholder="Enter Name" name="name">
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" class="form-control" id="age" [(ngModel)]="patient.age" placeholder="Enter Age" name="age">
      </div>
        <div class="form-group">
          <mat-form-field>
            <label for="date">Date of Visit</label>
            <input  matInput [matDatepicker]="picker" [(ngModel)]="patient.dateOfVisit"  name="date" placeholder=""> 
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <!-- <div class="form-group">
            <label for="date">Date of Visit</label>
            <input type="text" class="form-control" id="date"  [(ngModel)]="patient.dateOfVisit" placeholder="Enter Date" name="date">
        </div> -->
        <div  ngbDropdown class="dropdown">
          <label for="dropdownMenuButton1">Choose Doctor</label><br>
            <button class="btn btn-secondary dropdown-toggle btn1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
              <span class="highlight" *ngIf="selected; else notSelected">{{select}}</span>
              <ng-template #notSelected>{{select}}</ng-template>
            </button>
            <ul ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
              <li *ngFor="let doctor of doctors"><a class="dropdown-item" (click)="selectDoctor(doctor)" >{{doctor.name}}</a></li>
            </ul>
        </div> 
    </div>
  </div>
  <button type="submit" class="btn btn-success btn2">Submit</button>
</form>
</div>
<div class="footer">
  <div class="container">
    <span>Anoop A Nair &copy; 2022</span>
  </div>
</div>





